@import url(./static/reset.css);

body {
  color: rgb(226, 220, 220);
  background-color: #335;
}

[class $= 'inner'] {
  margin: auto;
  width: 1200px;
  padding: 30px;
}

/* #header {} 현제는 헤더 쓸일이 없지만 알아보기 쉽게 */

#header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
#header h1 {
  text-shadow: 5px 5px 5px rgb(226, 220, 220,0.2);
}
#header .gnb {
  font-size: 20px;  
}
#header .gnb ul {
  display: flex;
}
#header .gnb ul li:not(:last-child) {
  margin-right: 20px;
}