@import url(./static/reset.css);

body {
  color: rgb(226, 220, 220);
  background-color: #335;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

[class $= 'inner'] {
  margin: auto;
  width: 1200px;
  padding: 30px;
}

/* #header {} 현제는 헤더 쓸일이 없지만 알아보기 쉽게 */

#header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
#header h1 {
  text-shadow: 5px 5px 5px rgb(226, 220, 220,0.2);
}
#header .gnb {
  font-size: 20px;  
}
#header .gnb ul {
  display: flex;
}
#header .gnb ul li:not(:last-child) {
  margin-right: 20px;
}
#header .gnb ul li a:hover {
  color: #fff;
}

/* #main {} */
/* #main .main_inner {} */
#main h2 {  
  margin-bottom: 30px;
}
#main .today span {
  font-size: medium;
}
#main .todo_list {
  margin-bottom: 20px;
}
#main .todo_list ul li {
  padding: 10px 0;
  border-bottom: 1px solid;
}

#main .write_btn {
  font-size: 20px;
  margin-left: 10px;
}  


#main .calender {
}
#main .calender ul { 
 
}
#main .calender ul li {
  text-align: center;
  float: left;
  width: 14.28571%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
#main .calender ul li:hover {
  background-color: #F7D020;
  color: #335;
}
#main .calender ul .active {
  background-color: #F7D020;
  color: #335;
}